<div class="select-box">
    <div class="select-box__current" tabindex="1">
        
        <div class="select-box__value"><input class="select-box__input" type="radio" id="1" (click) = "buttonClicked('Deliver Every 30 Days')" value="2" name="Ben" />
            <p class="select-box__input-text">Deliver Every 30 Days</p>
        </div>
        
        <div class="select-box__value"><input class="select-box__input" type="radio" id="2" (click) = "buttonClicked('Deliver Every 60 Days')"  value="3" name="Ben" />
            <p class="select-box__input-text">Deliver Every 60 Days</p>
        </div>
        
        <div class="select-box__value"><input class="select-box__input" type="radio" id="3" (click) = "buttonClicked('Deliver Every 90 Days')"  value="4" name="Ben" />
            <p class="select-box__input-text">Deliver Every 90 Days</p>
        </div>
        
        <div class="select-box__value"><input class="select-box__input" type="radio" id="4" (click) = "buttonClicked('Deliver Every 180 Days')"  value="5" name="Ben" />
            <p class="select-box__input-text">Deliver Every 180 Days</p>
        </div>

        <div class="select-box__value"><input class="select-box__input" type="radio" id="0" (click) = "buttonClicked('Purchase One Time')"  value="1" name="Ben" checked="checked" />
            <p class="select-box__input-text">Purchase One Time</p>
        </div>
        
        <p class="select-box__icon" aria-hidden="true">↓</p>

    </div>

    <ul class="select-box__list">
        <li><label class="select-box__option" for="0" aria-hidden="aria-hidden">Purchase One Time</label></li>
        <li><label class="select-box__option" for="1" aria-hidden="aria-hidden">Deliver Every 30 Days</label></li>
        <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">Deliver Every 60 Days</label></li>
        <li><label class="select-box__option" for="3" aria-hidden="aria-hidden">Deliver Every 90 Days</label></li>
        <li><label class="select-box__option" for="4" aria-hidden="aria-hidden">Deliver Every 180 Days</label></li>
    </ul>

</div>